<div style="color:cornflowerblue; text-align: center;">
    <h2>Naucna centrala</h2>
  </div>

<div *ngIf="formFields.length != 0">
    <div class="container">
        <h3 >Pregled ispravljenog rada</h3>
    </div><br><br>

    <div class="container">
        
        <div style="margin-top: 15px; margin-bottom: 20px;">
            <button class="btn btn-primary" (click)="onPreuzmiRad()">Preuzmi rad</button>
        </div>

        <form #f="ngForm">
            <div *ngFor="let field of formFields" class="form-group row">
                <label for={{field.id}} class="col-sm-5 col-form-label">{{field.label}}</label>
                <div class="col-sm-5">
                    <input type="text" name={{field.id}} class="form-control" *ngIf="field.type.name=='string'" [ngModel]=field.defaultValue readonly>
                    <select name={{field.id}} *ngIf="field.type.name=='enum'" class="form-control" ngModel>
                        <option *ngFor="let val of enumValues" value={{val}}>
                          {{field.type.values[val]}}
                        </option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmitForm(f.value, f)">Potvrdi</button>
        </form><br><br>
    </div><br><br>
</div>

<div *ngIf="formFields.length == 0">
    <div class="container">
        <br><h4 >Trenutno nema ispravljenih radova.</h4>
    </div><br><br>
</div>

<div>
    &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="nazad()">Nazad</button>
</div>






